@model Student


<tr>
    <td width="200">ID</td> <td>@Model.ID</td>
</tr>
<tr>
    <td width="200">Name</td> <td>@Model.Name</td>
</tr>
<tr>
    <td width="200">Surname</td> <td>@Model.Surname</td>
</tr>
<td>
    <a asp-action="Edit" asp-controller="Student" class="btn btn-primary">Edit</a>
</td>

<td>
    <a asp-action="Delete" asp-controller="Student" class="btn btn-primary">Delete</a>
</td>
